<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="/assets/css/mdb.min.css" rel="stylesheet">
        <!-- Our CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheet %}{% endblock %}
        <link rel="icon" href="/assets/images/favicon.png">
    </head>

    <body>
        {% if connected == true %}
            <button onclick="window.location.href='logout';" class="btn btn-info btn-block">Log out</button>
        {% endif %}
        {% block content %}{% endblock %}

        <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/assets/js/mdb.js"></script>

        {% block javascript %}{% endblock %}

    </body>
</html>

